// Colors
$dark: #000;
$accent: #1dbe6f;
// $accent: #018aac;
$white: #fff;
$light: #d6d7d6;
$text-color: #5c5c5c;

// Fonts
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

* {
	padding: 0;
	margin: 0;
	transition: all 0.3s;
}

::root {
	font-size: 16px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba($dark, 0.3);
	background-color: $accent;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: $accent;
}

::-webkit-scrollbar-thumb {
	background-color: $dark;
}
::selection {
	background-color: $accent;
	color: $white;
}

html, body {
	overflow-x: hidden!important;
	font-family: $primary-font;

}

ul {
	list-style: none;
	padding-left: 0;
}
a {
	&:active, &:focus {
		outline: none;
	}
}
.img-fluid {
	width: 100%;
	height: auto;
}

/* Transition animations */

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100%);
  opacity: 0;
}

// Bounce

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Mixins */
@mixin lg-size-max {
	@media (max-width: 1199px) {
		@content;
	}
}
@mixin md-size-max {
	@media (max-width: 1024px) {
		@content;
	}
}
@mixin sm-size-max {
	@media (max-width: 768px) {
		@content;
	}
}
@mixin xs-size-max {
	@media (max-width: 576px) {
		@content;
	}
}
